# Ensure UTF-8 encoding for text files
AddDefaultCharset UTF-8
AddCharset UTF-8 .html .css .js

# Uncomment the following block if you need to disable caching for specific file types
# <filesMatch "\.(js|css|html)$">
#   FileETag None
#   <ifModule mod_headers.c>    
#     Header unset ETag
#     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
#     Header set Pragma "no-cache"
#     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
#   </ifModule>
# </filesMatch>

# Uncomment the following block if you need to set cache control for PNG files
# <Files *.png>
# Header add "Cache-Control" "max-age=604800"
# </Files>

Header set Cache-Control "no-cache"

RewriteEngine On

# Ensure HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]